body {
  background-color: #f0f0f0;
}
body h1 {
  color: #dd517f;
  size: 20px;
}
body h2 {
  color: #e68e36;
  size: 18px;
}
body .container {
  background-color: #556dc8;
}
body .container h3 {
  color: #7998ee;
  size: 14px;
}
body .container .light-bg {
  background-color: #7998ee;
}
.container {
  background-color: #556dc8;
}
.light-bg {
  background-color: #7998ee;
}
body {
  padding: 0;
  margin: 0;
  background: #f0f0f0;
}
.cards {
  text-align: center;
  max-width: 640px;
  margin: 0 auto;
}
.cards .card {
  position: relative;
  display: inline-block;
  width: 172px;
  height: 240px;
  font: 16px 'Trebuchet MS';
  margin: 10px;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
}
.cards .card:before,
.cards .card:after {
  content: attr(value);
  position: absolute;
  width: 12px;
  text-align: center;
  letter-spacing: -2px;
}
.cards .card:before {
  top: 4px;
  left: 4px;
}
.cards .card:after {
  bottom: 4px;
  right: 4px;
  transform: rotate(180deg);
}
.cards .card--heart {
  color: #e44145;
}
.cards .card--heart:before,
.cards .card--heart:after {
  content: attr(value) ' ♥';
}
.cards .card--spade {
  color: #252525;
}
.cards .card--spade:before,
.cards .card--spade:after {
  content: attr(value) ' ♠';
}
.cards .card__inner {
  box-sizing: border-box;
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 24px;
  left: 24px;
  right: 24px;
  bottom: 24px;
}
.cards .card__inner--centered {
  justify-content: center;
}
.cards .card__column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cards .card__column--centered {
  justify-content: center;
}
.cards .card__symbol {
  display: inline-block;
  height: 40px;
  text-align: center;
}
.cards .card__symbol:before {
  font-size: 40px;
  line-height: 40px;
}
.card--heart .cards .card__symbol:before {
  content: '♥';
}
.card--spade .cards .card__symbol:before {
  content: '♠';
}
.cards .card__symbol--rotated,
.cards .card__symbol:last-of-type {
  transform: rotate(180deg);
}
.cards .card__symbol:first-of-type {
  transform: rotate(0);
}
.cards .card__symbol--big {
  flex-basis: 60px;
}
.cards .card__symbol--huge {
  flex-basis: 108px;
}
