{% extends  layout %}
{% block  content %}
    <h1>Lobby</h1>
    <h2>Waiting for players</h2>
    <h2 class="player"></h2>

    {# Display loading icon #}
    <div class="d-flex align-items-center justify-content-center">
      <div class="spinner eclipse"></div>
    </div>

    {# Display players #}

    <div class="players"><ul></ul></div>

    {# Display start button #}
    
    <button onclick="startGame()">Start Game</button>
{% endblock %}