{% extends  layout %}
{% block  content %}
  <h1>{{message}}</h1>
  <p>The Game you are about to play is MauMau. An easy to learn card game where each player gets a 
    hand full of cards with the goal to get rid of said cards.</br>
    To achieve this goal the players must throw cards according to some easy rules, depending on the table card.</br>
  </p>
  <h2>Rules</h2>
  <p>
    
  </p>
  <p>Click <a href={{url}}>here</a> to start a new game.</p>
{% endblock %}