{% extends  layout %}
{% block  content %}
  {%- from 'card.njk' import card -%}
  <h1>{{message}}</h1>
  <h2>It's {{player}}'s turn!</h2>
  {% if showCards == true %}
    <div class="table__cards">
        {{ card({value: tableCard.value, color: tableCard.color})}}
        {{ card({url: url, value: "back"}) }}
    </div>
    <div class="card__collection">
      <ul>
        {% for mycard in cards %}
          {% set newCardUrl = [cardUrl, loop.index0] | join %}
          <li>{{ card({url: newCardUrl, value: mycard.value, color: mycard.color}) }}</li>
        {% endfor %}
      </ul>
    </div>
  {% else %}
    <div class="container__show">
      <form action="{{url}}" method="GET">
        <input type="submit" value="Show Cards" />
      </form>
    </div>
  {% endif %}
{% endblock %}