$background: #343d46;
$primary: #dd517f;
$secondary: #e68e36;
$container: #4f5b66;
$light_bg: #65737e;
$light_secondary: #f8af58;

// Path: server/assets/styles.scss
body {
  background-color: $background;
  h1 {
    color: $primary;
    size: 20px;
  }
  h2 {
    color: $secondary;
    size: 18px;
  }
  p {
    color: $light_secondary;
    size: 16px;
  }

  li {
    color: $light_secondary;
    size: 14px;
  }

  .text {
    color: $secondary;
    size: 16px;
  }

  .container__show {
    position: fixed;
    left: 50%;
    translate: -50%;
    width: 20%;
    height: 20%;
    display: flex;
    justify-content: center;
  }

  .card__collection {
    background-color: $light_bg;
    position: fixed;
    width: 100%;
    height: 42%;
    left: 50%;
    translate: -50%;
    bottom: 0%;
    ul {
      padding-inline-start: 0;
      display: inline-flex;
      align-items: stretch;
      > li {
        display: flex;
        .card__container {
          &.fade {
            animation: superman-fly-up ease-in-out 0.5s forwards;
          }
          @keyframes superman-fly-up {
            to {
              transform: translateY(-100vw);
            }
            from {
              transform: translateY(0);
            }
          }
          .card__image {
            margin: 5%;
            &.new {
              animation: superman-fly-right ease-in-out 0.5s forwards;
            }
            @keyframes superman-fly-right {
              to {
                transform: translateX(0);
              }
              from {
                transform: translateX(100vw);
              }
            }
            &.out {
              animation: superman-fly-left ease-in-out 0.5s forwards;
            }
            @keyframes superman-fly-left {
              to {
                transform: translateX(-100vw);
              }
              from {
                transform: translateX(0);
              }
            }
            img {
              max-width: 100%;
              max-height: 400px;
            }
          }
        }
      }
    }
  }
  .table__cards {
    position: fixed;
    width: 30%;
    height: 40%;
    left: 50%;
    top: 10%;
    translate: -50%;
    display: flex;
    justify-content: center;
    padding: 2%;
    .card__image {
      margin: 5%;
      &.out__right {
        animation: superman-fly-out-right ease-in-out 0.5s forwards;
      }
      @keyframes superman-fly-out-right {
        to {
          transform: translateX(100vw);
        }
        from {
          transform: translateX(0);
        }
      }
      &.out__left {
        animation: superman-fly-out-left ease-in-out 0.5s forwards;
      }
      @keyframes superman-fly-out-left {
        to {
          transform: translateX(-100vw);
        }
        from {
          transform: translateX(0);
        }
      }
      &.in__right {
        animation: superman-fly-in-right ease-in-out 0.5s forwards;
      }
      @keyframes superman-fly-in-right {
        to {
          transform: translateX(0);
        }
        from {
          transform: translateX(100vw);
        }
      }
      &.in__left {
        animation: superman-fly-in-left ease-in-out 0.5s forwards;
      }
      @keyframes superman-fly-in-left {
        to {
          transform: translateX(0);
        }
        from {
          transform: translateX(-100vw);
        }
      }
      img {
        max-width: 100%;
        max-height: 100%;
      }
    }
  }
}

input[type='text'] {
  background-color: $container;
  color: $primary;
  border: 1px solid $light_secondary;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}

input[type='submit'] {
  background-color: $secondary;
  color: $background;
  border: 1px solid $light_secondary;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}

button {
  background-color: $secondary;
  color: $background;
  border: 1px solid $light_secondary;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}

.container {
  background-color: $container;
}

.grow {
  transition: all 0.2s ease-in-out;
  &:hover {
    transform: scale(1.1);
    filter: drop-shadow(0 0 11px rgba(33, 33, 33, 0.5));
  }
}

ul {
  list-style-type: none;
}

.light-bg {
  background-color: $light_bg;
}
