body {
  background-color: #461e52;
}
body h1 {
  color: #dd517f;
  size: 20px;
}
body h2 {
  color: #e68e36;
  size: 18px;
}
body p {
  color: #f8af58;
  size: 16px;
}
body li {
  color: #f8af58;
  size: 14px;
}
body .text {
  color: #e68e36;
  size: 16px;
}
body .container {
  background-color: #556dc8;
}
body .container h3 {
  color: #7998ee;
  size: 14px;
}
body .container .light-bg {
  background-color: #7998ee;
}
body .topnav {
  background-color: #333;
  overflow: hidden;
}
body .topnav a {
  float: left;
  color: #e68e36;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
body .topnav a :hover {
  background-color: #7998ee;
  color: black;
}
body .topnav a .active {
  background-color: #dd517f;
  color: white;
}
body .container__show {
  position: fixed;
  left: 50%;
  translate: -50%;
  width: 20%;
  height: 20%;
  display: flex;
  justify-content: center;
}
body .container__show input[type='submit'] {
  border: 1px solid #dd517f;
  background-color: #461e52;
  color: #dd517f;
  text-decoration: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
body .container__show input[type='submit']:hover {
  border: 2px solid #e68e36;
  filter: drop-shadow(0 0 20px #212121);
}
body .card__collection {
  background-color: #7998ee;
  position: fixed;
  width: 100%;
  height: 42%;
  left: 50%;
  translate: -50%;
  bottom: 0%;
}
body .card__collection ul {
  padding-inline-start: 0;
  display: inline-flex;
  align-items: stretch;
}
body .card__collection ul > li {
  display: flex;
}
body .card__collection ul > li .card__image {
  margin: 5%;
}
body .card__collection ul > li .card__image.new {
  animation: superman-fly-right ease-in-out 0.5s forwards;
}
@keyframes superman-fly-right {
  to {
    transform: translateX(0);
  }
  from {
    transform: translateX(100vw);
  }
}
body .card__collection ul > li .card__image img {
  max-width: 100%;
  max-height: 400px;
}
body .table__cards {
  position: fixed;
  width: 30%;
  height: 40%;
  left: 50%;
  top: 10%;
  translate: -50%;
  display: flex;
  justify-content: center;
  padding: 2%;
}
body .table__cards .card__image {
  margin: 5%;
}
body .table__cards .card__image img {
  max-width: 100%;
  max-height: 100%;
}
.grow {
  transition: all 0.2s ease-in-out;
}
.grow:hover {
  transform: scale(1.1);
  filter: drop-shadow(0 0 11px rgba(33, 33, 33, 0.5));
}
ul {
  list-style-type: none;
}
.container {
  background-color: #556dc8;
}
.light-bg {
  background-color: #7998ee;
}
