@background: #461e52;
@primary: #dd517f;
@secondary: #e68e36;
@container: #556dc8;
@light_bg: #7998ee;
@light_secondary: #f8af58;

// Path: server/assets/styles.less
body {
  background-color: @background;
  h1 {
    color: @primary;
    size: 20px;
  }
  h2 {
    color: @secondary;
    size: 18px;
  }
  p {
    color: @light_secondary;
    size: 16px;
  }

  li {
    color: @light_secondary;
    size: 14px;
  }

  .text {
    color: @secondary;
    size: 16px;
  }
  .container {
    background-color: @container;
    h3 {
      color: @light_bg;
      size: 14px;
    }
    .light-bg {
      background-color: @light_bg;
    }
  }

  .topnav {
    background-color: #333;
    overflow: hidden;
    a {
      float: left;
      color: @secondary;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
      :hover {
        background-color: @light_bg;
        color: black;
      }
      .active {
        background-color: @primary;
        color: white;
      }
    }
  }

  .container__show {
    position: fixed;
    left: 50%;
    translate: -50%;
    width: 20%;
    height: 20%;
    display: flex;
    justify-content: center;
    input[type='submit'] {
      border: 1px solid @primary;
      background-color: @background;
      color: @primary;
      text-decoration: none;
      padding: 10px 20px;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      &:hover {
        border: 2px solid @secondary;
        filter: drop-shadow(0 0 20px rgba(33, 33, 33, 1));
      }
    }
  }

  .card__collection {
    background-color: @light_bg;
    position: fixed;
    width: 100%;
    height: 42%;
    left: 50%;
    translate: -50%;
    bottom: 0%;
    ul {
      padding-inline-start: 0;
      display: inline-flex;
      align-items: stretch;
      > li {
        display: flex;
        .card__image {
          margin: 5%;
          &.new {
            animation: superman-fly-right ease-in-out 0.5s forwards;
          }
          @keyframes superman-fly-right {
            to {
              transform: translateX(0);
            }
            from {
              transform: translateX(100vw);
            }
          }
          img {
            max-width: 100%;
            max-height: 400px;
          }
        }
      }
    }
  }
  .table__cards {
    position: fixed;
    width: 30%;
    height: 40%;
    left: 50%;
    top: 10%;
    translate: -50%;
    display: flex;
    justify-content: center;
    padding: 2%;
    .card__image {
      margin: 5%;
      img {
        max-width: 100%;
        max-height: 100%;
      }
    }
  }
}

.grow {
  transition: all 0.2s ease-in-out;
  &:hover {
    transform: scale(1.1);
    filter: drop-shadow(0 0 11px rgba(33, 33, 33, 0.5));
  }
}

ul {
  list-style-type: none;
}

.container {
  background-color: @container;
}

.light-bg {
  background-color: @light_bg;
}
