body {
  background-color: #461e52;
  grid-template-columns: [col2] 40px [col2] 50px [col3] auto [col4] 50px [col5] 40px [end];
  grid-template-rows: [row1] 12% [row2] auto [row3] 42% [end-row];
}
body h1 {
  color: #dd517f;
  size: 20px;
}
body h2 {
  color: #e68e36;
  size: 18px;
}
body p {
  color: #e68e36;
  size: 16px;
}
body .text {
  color: #e68e36;
  size: 16px;
}
body .container {
  background-color: #556dc8;
}
body .container h3 {
  color: #7998ee;
  size: 14px;
}
body .container .light-bg {
  background-color: #7998ee;
}
body .container__show {
  position: fixed;
  left: 50%;
  translate: -50%;
  width: 20%;
  height: 20%;
  display: flex;
  justify-content: center;
}
body .container__show input[type='submit'] {
  border: 1px solid #dd517f;
  background-color: #461e52;
  color: #dd517f;
  text-decoration: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
body .container__show input[type='submit']:hover {
  border: 2px solid #e68e36;
  filter: drop-shadow(0 0 20px #212121);
}
body .card__collection {
  background-color: #7998ee;
  position: fixed;
  width: 100%;
  height: 42%;
  left: 50%;
  translate: -50%;
  bottom: 0%;
}
body .card__collection ul {
  padding-inline-start: 0;
  display: inline-flex;
  align-items: stretch;
}
body .card__collection ul > li {
  display: flex;
}
body .card__collection ul > li .card__image {
  margin: 5%;
}
body .card__collection ul > li .card__image img {
  max-width: 100%;
  max-height: 400px;
}
body .table__cards {
  position: fixed;
  width: 30%;
  height: 40%;
  left: 50%;
  top: 10%;
  translate: -50%;
  display: flex;
  justify-content: center;
  padding: 2%;
}
body .table__cards .card__image {
  margin: 5%;
}
body .table__cards .card__image img {
  max-width: 100%;
  max-height: 100%;
}
.grow {
  transition: all 0.2s ease-in-out;
}
.grow:hover {
  transform: scale(1.1);
  filter: drop-shadow(0 0 11px rgba(33, 33, 33, 0.5));
}
ul {
  list-style-type: none;
}
.container {
  background-color: #556dc8;
}
.light-bg {
  background-color: #7998ee;
}
